<header>
  <%= image_tag "virago_logo.png", class: 'logo' %>
  <nav id="primary-navbar" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

      </div>
      <div id="nav-menu" class="table">
        <ul id="horizontal-list">
          <li><a href="#" class="list-item">Home</li>
          <li><a href="#" class="list-item">About</li>
          <li><a href="#" class="list-item">Contact</li>
        </ul>
      </div>
    </div>
  </div>
 </nav>
</header>
